body{  font-family:"roboto";
    margin: 0%;
    padding: 0%;
background-color: #f9f9;
color: blue;


}
 .navbar{
list-style-type: style type none; ;
display: flex;
margin: 0%;
padding: 0%;

 }
 .navbar a{color: azure;text-decoration: none;font-weight: bold;padding: 10px 15px; transition: background-color 0.3ms ease;


 }
.navbar a :hover{
background-color:red ;
border-radius: 5px;

}



